Repository GetTerminus/ngx-tools: changes, and which Codecov flags are due for each by the changed paths.
All: coercion, keycodes, regex, utilities, testing

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

flags:
  coercion:
    paths:
      - ngx-tools/coercion/
  keycodes:
    paths:
      - ngx-tools/keycodes/
  regex:
    paths:
      - ngx-tools/regex/
  utilities:
    paths:
      - ngx-tools/src/
  testing:
    paths:
      - ngx-tools/testing/

ignore:
  - "coverage"
  - "dist"
  - "demo"
  - "docs"
  - "e2e"
  - "node_modules"
  - "tools"
  - "ngx-tools/**/*.spec.ts"
  - "ngx-tools/!(testing)/*.mock.ts"

test(CI): now flagging test coverage for each module
  .circleci/config.yml
  ngx-tools/jest.all.config.js
  ngx-tools/jest.coercion.config.js
  ngx-tools/jest.keycodes.config.js
  ngx-tools/jest.regex.config.js
  ngx-tools/jest.testing.config.js
  ngx-tools/jest.utilities.config.js
  package.json
Due: none

feat(Utility): helper function to convert a string to camelCase
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/to-camel-case/to-camel-case.spec.ts
  ngx-tools/src/to-camel-case/to-camel-case.ts
  package.json
Due: utilities

feat(Testing): helper function to configure the TestBed with no white space
  ngx-tools/testing/README.md
  ngx-tools/testing/public-api.ts
  ngx-tools/testing/src/utilities/configure-test-bed.ts
Due: testing

build: update @types/node to version ~9.6.0
  package.json
  yarn.lock
Due: none

build: update jasmine-core to version 3.1.0
  package.json
  yarn.lock
Due: none

chore(CI): update renovate json for library structure
  renovate.json
Due: none

feat(Testing): add rendererMock, update docs for both renderer mocks
  ngx-tools/testing/README.md
  ngx-tools/testing/public-api.ts
  ngx-tools/testing/src/mocks/renderer.mock.ts
Due: testing

build: update @angular-devkit/schematics to version ^0.5.0
  package.json
  yarn.lock
Due: none

build: update ng-packagr to version 2.4.1
  package.json
  yarn.lock
Due: none

feat(Utility): Helper to update a form control when an input changes
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.ts
Due: utilities

build: update karma packages
  package.json
  yarn.lock
Due: none

fix(Utility): fix circular dependency caused by import from public-api
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.ts
Due: utilities

chore(Packages): update packages
  ngx-tools/package.json
  package.json
  yarn.lock
Due: none

fix(Utility): allow passed in formControl to be null
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.ts
Due: utilities

feat(Testing): helper to configure the testbed to not reset between each test
  ngx-tools/testing/README.md
  ngx-tools/testing/public-api.ts
  ngx-tools/testing/src/utilities/configure-testbed-whitespace.ts
  ngx-tools/testing/src/utilities/configure-testbed-without-reset.ts
  package.json
  yarn.lock
Due: testing

feat(Utility): Helper function to return an array of values from an hash object
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/return-array-value-from-hash/return-array-value-from-hash.spec.ts
  ngx-tools/src/return-array-value-from-hash/return-array-value-from-hash.ts
Due: utilities

Correct casing for local link
  ngx-tools/src/README.md
Due: utilities

chore(Build): ts strict mode is now enabled
  ngx-tools/keycodes/src/keycodes.const.spec.ts
  ngx-tools/src/README.md
  ngx-tools/src/apply-mixins/apply-mixins.spec.ts
  ngx-tools/src/array-contains-object/array-contains-object.spec.ts
  ngx-tools/src/compact-array/compact-array.spec.ts
  ngx-tools/src/compact-array/compact-array.ts
  ngx-tools/src/debounce/debounce.spec.ts
  ngx-tools/src/debounce/debounce.ts
  ngx-tools/src/get-form-control-value/get-form-control-value.spec.ts
  ngx-tools/src/get-form-control-value/get-form-control-value.ts
  ngx-tools/src/get-store-value/get-store-value.spec.ts
  ngx-tools/src/get-store-value/get-store-value.ts
  ngx-tools/src/has-required-control/has-required-control.spec.ts
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/input-has-changed/input-has-changed.ts
  ngx-tools/src/public-api.ts
  ngx-tools/src/return-array-value-from-hash/return-array-value-from-hash.ts
  ngx-tools/src/to-camel-case/to-camel-case.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/verify-types/is-object/is-object.spec.ts
  ngx-tools/testing/README.md
  ngx-tools/testing/src/utilities/dispatch-events.spec.ts
  ngx-tools/testing/src/utilities/event-objects.spec.ts
  ngx-tools/testing/src/utilities/expect-native-el.spec.ts
  ngx-tools/testing/src/utilities/query-for.spec.ts
  ngx-tools/testing/src/utilities/query-for.ts
  ngx-tools/testing/src/utilities/type-in-element.spec.ts
  ngx-tools/testing/src/utilities/wrapped-error-message.spec.ts
  ngx-tools/testing/src/utilities/wrapped-error-message.ts
  package.json
  tools/jest-global-mocks.ts
  tsconfig.json
Due: utilities, testing

chore: add a new contributor!
  .all-contributorsrc
  README.md
Due: none

feat(Utility): helper to deep merge JS objects
  ngx-tools/package.json
  ngx-tools/src/README.md
  ngx-tools/src/merge/merge.spec.ts
  ngx-tools/src/merge/merge.ts
  ngx-tools/src/public-api.ts
  package.json
  yarn.lock
Due: utilities

revert(Utility): remove merge
  ngx-tools/src/README.md
  ngx-tools/src/merge/merge.spec.ts
  ngx-tools/src/merge/merge.ts
  ngx-tools/src/public-api.ts
  package.json
Due: utilities

build: update @types/node to version ^10.0.0
  package.json
  yarn.lock
Due: none

build: update @angular-devkit/schematics to version ^0.6.0
  package.json
  yarn.lock
Due: none

build: update @angular/cli to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/common to version ^6.0.0
  ngx-tools/package.json
  package.json
  yarn.lock
Due: none

build: update @angular/compiler to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/compiler-cli to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/core to version ^6.0.0
  ngx-tools/package.json
  package.json
  yarn.lock
Due: none

build: update @angular/forms to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/http to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/language-service to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/platform-browser to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/platform-browser-dynamic to version ^6.0.0
  package.json
  yarn.lock
Due: none

build: update @angular/router to version ^6.0.0
  package.json
  yarn.lock
Due: none

chore(Build): try manually grouping angular releases
  renovate.json
Due: none

fix(Docs): trigger new build to release last revert
  README.md
Due: none

fix(Build): remove unused dependency
  ngx-tools/package.json
  yarn.lock
Due: none
