Repository GetTerminus/ngx-tools: changes, and which Codecov flags are due for each by the changed paths.
All: coercion, keycodes, regex, utilities, testing

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

flags:
  coercion:
    paths:
      - ngx-tools/coercion/
  keycodes:
    paths:
      - ngx-tools/keycodes/
  regex:
    paths:
      - ngx-tools/regex/
  utilities:
    paths:
      - ngx-tools/src/
  testing:
    paths:
      - ngx-tools/testing/

ignore:
  - "coverage"
  - "dist"
  - "demo"
  - "docs"
  - "e2e"
  - "node_modules"
  - "tools"
  - "ngx-tools/**/*.spec.ts"
  - "ngx-tools/!(testing)/*.mock.ts"

fix(Build): now publishing to @next tag
  ngx-tools/package.json
  package.json
Due: none

fix(Testing): add void implementations to Renderer2 mock
  ngx-tools/testing/src/mocks/renderer2.mock.ts
Due: testing

feat(Utility): Helper to set a form control value
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/set-form-control-value/set-form-control-value.spec.ts
  ngx-tools/src/set-form-control-value/set-form-control-value.ts
Due: utilities

chore(CI): fix incorrect semi-colon rule in tslint
  .circleci/config.yml
  ngx-tools/src/debounce/debounce.ts
  ngx-tools/src/has-required-control/has-required-control.ts
  ngx-tools/src/public-api.ts
  ngx-tools/src/retry-with-backoff/delay-calculator.spec.ts
  ngx-tools/src/retry-with-backoff/delay-calculator.ts
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
  ngx-tools/src/retry-with-backoff/retry-with-backoff.ts
  ngx-tools/src/return-array-value-from-hash/return-array-value-from-hash.spec.ts
  ngx-tools/src/to-camel-case/to-camel-case.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/verify-types/is-function/is-function.spec.ts
  ngx-tools/testing/src/mocks/document.service.mock.ts
  ngx-tools/testing/src/mocks/renderer2.mock.ts
  ngx-tools/testing/src/mocks/window.service.mock.ts
  ngx-tools/testing/src/utilities/configure-testbed-whitespace.ts
  ngx-tools/testing/src/utilities/configure-testbed-without-reset.ts
  tslint.json
Due: utilities, testing

chore: fix lint issue
  ngx-tools/src/set-form-control-value/set-form-control-value.spec.ts
Due: none

chore(deps): update tsickle to version ^0.28.0
  package.json
  yarn.lock
Due: none

fix(Testing): add a default value for location.protocol
  ngx-tools/testing/src/mocks/window.service.mock.ts
Due: testing

feat(Testing): add helper to return component instance from within testbed fixture
  ngx-tools/testing/README.md
  ngx-tools/testing/src/utilities/get-child-component-instance-from-fixture.spec.ts
  ngx-tools/testing/src/utilities/get-child-component-instance-from-fixture.ts
Due: testing

feat: helper to verify a value is a number
  ngx-tools/src/README.md
  ngx-tools/src/verify-types/index.ts
  ngx-tools/src/verify-types/is-number/is-number.spec.ts
  ngx-tools/src/verify-types/is-number/is-number.ts
Due: utilities

feat(Utility): helper function to round a number
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/round-number/round-number.spec.ts
  ngx-tools/src/round-number/round-number.ts
Due: utilities

WIP: example showing ENV injected to services via injection token
  demo/app/app.component.ts
  demo/app/app.module.ts
  demo/environment.json
  demo/typings.d.ts
  ngx-tools/src/window/window.service.ts
Due: utilities

docs(Docs): add links to source files
  ngx-tools/coercion/README.md
  ngx-tools/keycodes/README.md
  ngx-tools/regex/README.md
  ngx-tools/src/README.md
  ngx-tools/src/return-array-value-from-hash/return-array-value-from-hash.ts
  ngx-tools/testing/README.md
Due: coercion, keycodes, regex, utilities, testing

fix(Utility): debounce no longer loses this context
  ngx-tools/src/debounce/debounce.spec.ts
  ngx-tools/src/debounce/debounce.ts
Due: utilities

test(Utility): add test to ensure debounce context is not lost
  ngx-tools/src/debounce/debounce.spec.ts
Due: none

fix(deps): update rxjs to version ^5.6.0-forward-compat.4
  package.json
  yarn.lock
Due: none

chore(deps): update @angular/language-service to version ^6.0.0
  ngx-tools/package.json
  package.json
  yarn.lock
Due: none

fix(deps): update rxjs to version ^6.0.0
  package.json
  yarn.lock
Due: none

fix(deps): update rxjs to version ^5.6.0-forward-compat.5
  package.json
  yarn.lock
Due: none

chore(deps): update @ngrx/store to version ^6.0.0
  ngx-tools/package.json
  package.json
  yarn.lock
Due: none

fix(Packages): update Angular and RxJS
  demo/app/app.component.ts
  ngx-tools/package.json
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
  ngx-tools/src/retry-with-backoff/retry-with-backoff.ts
  package.json
  tslint.json
  yarn.lock
Due: utilities

chore(deps): update jest to version ^23.0.0
  package.json
Due: none

test(Testing): add test for configuring TestBed to not reset
  ngx-tools/testing/src/utilities/configure-testbed-without-reset.spec.ts
Due: none

test(Testing): add test for configuring testbed whitespace
  ngx-tools/testing/src/utilities/configure-testbed-whitespace.spec.ts
Due: none

test: add missing test paths
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
  ngx-tools/testing/src/utilities/dispatch-events.spec.ts
Due: none

chore(deps): update ts-node to version ^6.0.0
  package.json
Due: none

chore(deps): update ng-packagr to version ^3.0.0
  package.json
Due: none

feat(Utility): create pipable operator to unsubscribe during Angular lifecycle
  .angular-cli.json
  angular.json
  demo/app/app-routing.module.ts
  demo/app/app.component.html
  demo/app/app.component.ts
  demo/app/app.module.ts
  demo/app/child/child.component.html
  demo/app/child/child.component.ts
  demo/app/home/home.component.html
  demo/app/home/home.component.ts
  demo/tsconfig.spec.json
  karma.conf.js
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/until-component-destroyed/until-component-destroyed.spec.ts
  ngx-tools/src/until-component-destroyed/until-component-destroyed.ts
  package.json
  yarn.lock
Due: utilities

feat(Coercion): added coerceDateProperty
  ngx-tools/coercion/README.md
  ngx-tools/coercion/public-api.ts
  ngx-tools/coercion/src/date/date-property.spec.ts
  ngx-tools/coercion/src/date/date-property.ts
Due: coercion

style(Coercion): removed unnessecary \`as any\`
  ngx-tools/coercion/src/number/number-property.ts
Due: coercion

feat(Utility): adding HTTP Retrying for auto retrying temporary issues
  ngx-tools/coercion/README.md
  ngx-tools/src/README.md
  ngx-tools/src/http-retryer/date-property.ts
  ngx-tools/src/http-retryer/http-retryer.spec.ts
  ngx-tools/src/http-retryer/http-retryer.ts
  ngx-tools/src/http-retryer/number-property.ts
  ngx-tools/src/http-retryer/public-api.ts
  ngx-tools/src/public-api.ts
  package.json
  yarn.lock
Due: coercion, utilities

docs: update TOC for docs
  ngx-tools/coercion/README.md
  ngx-tools/src/README.md
Due: coercion, utilities

chore(Utility): adding TokenEscalator mock for testing
  ngx-tools/src/jwt-token-managment/testing-public-api.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.mock.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.ts
Due: utilities

fix(Docs): docs update. Trigger release
  README.md
  ngx-tools/src/jwt-token-managment/README.md
Due: utilities

Add license scan report and status
  README.md
Due: none

fix(Utility): fixing bug with reseting all other tokens
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.ts
Due: utilities

feat(Utility): add arrayHasAllElementsSet
  ngx-tools/src/README.md
  ngx-tools/src/verify-types/array-has-all-elements-set/array-has-all-elements-set.spec.ts
  ngx-tools/src/verify-types/array-has-all-elements-set/array-has-all-elements-set.ts
Due: utilities

feat(Service): Update services to use the new format defining them as 'application wide'
  ngx-tools/src/document/document.service.ts
  ngx-tools/src/window/window.service.ts
Due: utilities

chore(Packages): bump versions
  ngx-tools/package.json
  package.json
  protractor.conf.js
  yarn.lock
Due: none
