Repository GetTerminus/ngx-tools: changes, and which Codecov flags are due for each by the changed paths.
All: coercion, keycodes, regex, utilities, testing

feat(Utility): allow initial token to be loaded from cookie
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/src/jwt-token-managment/actions.ts
  ngx-tools/src/jwt-token-managment/effects.spec.ts
  ngx-tools/src/jwt-token-managment/effects.ts
  ngx-tools/src/jwt-token-managment/guards/defaultTokenRequired.spec.ts
  ngx-tools/src/jwt-token-managment/guards/defaultTokenRequired.ts
  ngx-tools/src/jwt-token-managment/index.ts
  ngx-tools/src/jwt-token-managment/module.ts
  ngx-tools/src/jwt-token-managment/public-api.ts
  ngx-tools/src/jwt-token-managment/reducer.spec.ts
  ngx-tools/src/jwt-token-managment/reducer.ts
  ngx-tools/src/jwt-token-managment/selector.spec.ts
  ngx-tools/src/jwt-token-managment/state.ts
  ngx-tools/src/jwt-token-managment/tokens.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.ts
Due: utilities

feat(Testing): helper to quickly create a TestBed fixture from a single component
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/testing/README.md
  ngx-tools/testing/public-api.ts
  ngx-tools/testing/src/utilities/create-component.spec.ts
  ngx-tools/testing/src/utilities/create-component.ts
Due: utilities, testing

docs(Testing): now correctly showing the type being passed in
  ngx-tools/testing/README.md
Due: testing

fix(Packages): correctly point to sources
  ngx-tools/package.json
Due: none

feat(Utility): keycodes A-Z, and 0-9 are available
  ngx-tools/keycodes/src/keycodes.const.spec.ts
  ngx-tools/keycodes/src/keycodes.const.ts
Due: keycodes

chore(CI): use new docker image
  .circleci/config.yml
Due: none

feat(Utility): publicShapeOf is now available
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/public-shape-of/public-shape-of.spec.ts
  ngx-tools/src/public-shape-of/public-shape-of.ts
Due: utilities

feat(Utility): defineTypeEnum edited and exported
  ngx-tools/src/README.md
  ngx-tools/src/define-type/define-type.ts
  ngx-tools/src/public-api.ts
Due: utilities

fix(Testing): createKeyboardEvent initialization works with HostListener
  ngx-tools/testing/src/utilities/event-objects.ts
Due: testing

feat(Keycodes): add new keycodes
  ngx-tools/keycodes/README.md
  ngx-tools/keycodes/src/keycodes.const.spec.ts
  ngx-tools/keycodes/src/keycodes.const.ts
  ngx-tools/testing/src/utilities/dispatch-events.spec.ts
  ngx-tools/testing/src/utilities/dispatch-events.ts
  ngx-tools/testing/src/utilities/event-objects.spec.ts
  ngx-tools/testing/src/utilities/event-objects.ts
  ngx-tools/tsconfig.lint.json
  ngx-tools/tsconfig.spec.json
Due: keycodes, testing

fix(Keycodes): remove deprecated event initializer and use initEvent
  ngx-tools/testing/src/utilities/event-objects.ts
Due: testing

fix(Keycodes): remove deprecated event initializer and use initEvent (#282)
  ngx-tools/testing/src/utilities/event-objects.ts
Due: testing

feat(Utility): isNull, isSet, isUndefined, isUnset are available
  ngx-tools/src/README.md
  ngx-tools/src/isNull/isNull.spec.ts
  ngx-tools/src/isNull/isNull.ts
  ngx-tools/src/isSet/isSet.spec.ts
  ngx-tools/src/isSet/isSet.ts
  ngx-tools/src/isUndefined/isUndefined.spec.ts
  ngx-tools/src/isUndefined/isUndefined.ts
  ngx-tools/src/isUnset/isUnset.spec.ts
  ngx-tools/src/isUnset/isUnset.ts
Due: utilities

feat(Utility): isNull, isSet, isUndefined, isUnset are available (#279)
  ngx-tools/src/README.md
  ngx-tools/src/isNull/isNull.spec.ts
  ngx-tools/src/isNull/isNull.ts
  ngx-tools/src/isSet/isSet.spec.ts
  ngx-tools/src/isSet/isSet.ts
  ngx-tools/src/isUndefined/isUndefined.spec.ts
  ngx-tools/src/isUndefined/isUndefined.ts
  ngx-tools/src/isUnset/isUnset.spec.ts
  ngx-tools/src/isUnset/isUnset.ts
Due: utilities

fix(Utility): add missing exports for new utilities
  ngx-tools/src/public-api.ts
Due: utilities

feat(Testing): getDomAttribute is now available
  ngx-tools/src/README.md
  ngx-tools/src/get-dom-attribute/get-dom-attribute.spec.ts
  ngx-tools/src/get-dom-attribute/get-dom-attribute.ts
  ngx-tools/src/public-api.ts
Due: utilities

feat(Testing): getDomAttribute is now available (#283)
  ngx-tools/src/README.md
  ngx-tools/src/get-dom-attribute/get-dom-attribute.spec.ts
  ngx-tools/src/get-dom-attribute/get-dom-attribute.ts
  ngx-tools/src/public-api.ts
Due: utilities

chore(Build): change all references from the old base branch to \`release\`
  README.md
  ngx-tools/package.json
  ngx-tools/src/README.md
  ngx-tools/src/jwt-token-managment/README.md
  package.json
Due: utilities

feat(Utility): isArrayOfType is now available
  ngx-tools/src/README.md
  ngx-tools/src/is-array-of-type/is-array-of-type.spec.ts
  ngx-tools/src/is-array-of-type/is-array-of-type.ts
  ngx-tools/src/public-api.ts
Due: utilities

fix(Utility): fixes issue with AOT build failing to store initial token
  ngx-tools/src/jwt-token-managment/module.ts
Due: utilities

feat: Fake commit to increase version
  README.md
Due: none

Path conditions:
  coercion: any of: ngx-tools/coercion/, but not: coverage, dist, demo, docs, e2e, node_modules, tools, ngx-tools/**/*.spec.ts, ngx-tools/!(testing)/*.mock.ts
  keycodes: any of: ngx-tools/keycodes/, but not: coverage, dist, demo, docs, e2e, node_modules, tools, ngx-tools/**/*.spec.ts, ngx-tools/!(testing)/*.mock.ts
  regex: any of: ngx-tools/regex/, but not: coverage, dist, demo, docs, e2e, node_modules, tools, ngx-tools/**/*.spec.ts, ngx-tools/!(testing)/*.mock.ts
  utilities: any of: ngx-tools/src/, but not: coverage, dist, demo, docs, e2e, node_modules, tools, ngx-tools/**/*.spec.ts, ngx-tools/!(testing)/*.mock.ts
  testing: any of: ngx-tools/testing/, but not: coverage, dist, demo, docs, e2e, node_modules, tools, ngx-tools/**/*.spec.ts, ngx-tools/!(testing)/*.mock.ts
