Repository GetTerminus/ngx-tools: changes, and which Codecov flags are due for each by the changed paths.
All: coercion, keycodes, regex, utilities, testing

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

flags:
  coercion:
    paths:
      - ngx-tools/coercion/
  keycodes:
    paths:
      - ngx-tools/keycodes/
  regex:
    paths:
      - ngx-tools/regex/
  utilities:
    paths:
      - ngx-tools/src/
  testing:
    paths:
      - ngx-tools/testing/

ignore:
  - "coverage"
  - "dist"
  - "demo"
  - "docs"
  - "e2e"
  - "node_modules"
  - "tools"
  - "ngx-tools/**/*.spec.ts"
  - "ngx-tools/!(testing)/*.mock.ts"

feat(updateControlOnInputChanges): allow deep key to be passed in
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/input-has-changed/input-has-changed.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.ts
  ngx-tools/src/utilities/changes-util.spec.ts
  ngx-tools/src/utilities/changes-util.ts
  ngx-tools/src/utilities/object-deep-parse.spec.ts
  ngx-tools/src/utilities/object-deep-parse.ts
Due: utilities

chore(deps): update @semantic-release/npm to version ^4.0.0
  package.json
  yarn.lock
Due: none

fix(isArray): instead of returning boolean only, typescript requires specifics
  ngx-tools/src/verify-types/is-array/is-array.ts
Due: utilities

feat(objectDeepParse): utilities to parse objects with deep keys
  ngx-tools/src/utilities/ngchange-object-value-parse.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parser.ts
  ngx-tools/src/utilities/object-deep-parse.spec.ts
  ngx-tools/src/utilities/object-deep-parse.ts
Due: utilities

feat(updateControlOnChanges): allow deep key to be passed in
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/input-has-changed/input-has-changed.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.ts
Due: utilities

fix(inputHasChanged): check key existence on changes object
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parse.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parser.ts
Due: utilities

chore(deps): update husky to version ^0.15.0-rc
  package.json
  yarn.lock
Due: none

chore(deps): update typescript to version 2.9.x
  ngx-tools/package.json
  package.json
  yarn.lock
Due: none

chore(deps): update codecov to version ^4.0.0-0
  package.json
  yarn.lock
Due: none

chore(deps): update husky to version ^1.0.0-rc
  package.json
  yarn.lock
Due: none

chore(deps): update jest-preset-angular to version ^6.0.0-rc
  package.json
  yarn.lock
Due: none

chore(deps): update ng-packagr to version ^4.0.0
  package.json
  yarn.lock
Due: none

chore(deps): update typescript to version 3.1.x
  ngx-tools/package.json
  package.json
Due: none

fix(deps): update core-js to version ^3.0.0-beta
  package.json
  yarn.lock
Due: none

chore(deps): update karma-jasmine-html-reporter to version ^1.0.0
  package.json
  yarn.lock
Due: none

chore(deps): update npm to version 6.3.0-next.0
  ngx-tools/package.json
  package.json
Due: none

chore(deps): update @angular-devkit/schematics to version ^0.7.0
  package.json
  yarn.lock
Due: none

feat(Regex): date regex
  ngx-tools/regex/README.md
  ngx-tools/regex/public-api.ts
  ngx-tools/regex/src/date/date.regex.spec.ts
  ngx-tools/regex/src/date/date.regex.ts
  ngx-tools/regex/src/postal/usa-postal.regex.spec.ts
Due: regex

fix(VerifyTypes): Add TypeScript coercion to all verify types methods
  ngx-tools/coercion/src/date/date-property.spec.ts
  ngx-tools/coercion/src/date/date-property.ts
  ngx-tools/src/verify-types/array-has-all-elements-set/array-has-all-elements-set.ts
  ngx-tools/src/verify-types/is-boolean/is-boolean.ts
  ngx-tools/src/verify-types/is-function/is-function.ts
  ngx-tools/src/verify-types/is-number/is-number.ts
  ngx-tools/src/verify-types/is-object/is-object.ts
  ngx-tools/src/verify-types/is-string/is-string.ts
Due: coercion, utilities

fix(Testing): correctly export getChildComponentInstanceFromFixture
  ngx-tools/testing/README.md
  ngx-tools/testing/public-api.ts
Due: testing

fix(Utility): update to work for simple paths
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parse.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parser.ts
Due: utilities

revert(Utility): "fix(Utility): update to work for simple paths"
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parse.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parser.ts
Due: utilities

test(Utility): remove \`.only\` from test
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
Due: none

feat(Utilities): Create deep object getter and deep object setter
  .gitignore
  ngx-tools/src/README.md
  ngx-tools/src/input-has-changed/input-has-changed.spec.ts
  ngx-tools/src/input-has-changed/input-has-changed.ts
  ngx-tools/src/object-deep-get/object-deep-get.spec.ts
  ngx-tools/src/object-deep-get/object-deep-get.ts
  ngx-tools/src/object-deep-set/object-deep-set.spec.ts
  ngx-tools/src/object-deep-set/object-deep-set.ts
  ngx-tools/src/public-api.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.spec.ts
  ngx-tools/src/update-control-on-input-changes/update-control-on-input-changes.ts
  ngx-tools/src/utilities/ngchange-object-value-parser/ngchange-object-value-parse.spec.ts
  ngx-tools/src/utilities/ngchange-object-value-parser/ngchange-object-value-parser.ts
  ngx-tools/src/utilities/object-deep-parse/object-deep-parse.spec.ts
  ngx-tools/src/utilities/object-deep-parse/object-deep-parse.ts
Due: utilities

chore(Packages): upgrade all packages
  ngx-tools/package.json
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/src/jwt-token-managment/actions.ts
  ngx-tools/src/jwt-token-managment/effects.spec.ts
  ngx-tools/src/jwt-token-managment/effects.ts
  ngx-tools/src/jwt-token-managment/module.ts
  ngx-tools/src/jwt-token-managment/public-api.ts
  ngx-tools/src/jwt-token-managment/reducer.ts
  ngx-tools/src/jwt-token-managment/selectors.ts
  ngx-tools/src/jwt-token-managment/testing-public-api.ts
  ngx-tools/src/jwt-token-managment/utilities/retry-with-escalation.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.ts
  ngx-tools/src/public-api.ts
  ngx-tools/testing/public-api.ts
  ngx-tools/testing/src/mocks/retry-with-escalation.mock.ts
  ngx-tools/testing/src/mocks/token-escalator.mock.ts
  ngx-tools/testing/src/mocks/token-extractor.mock.ts
  ngx-tools/testing/src/mocks/window.service.mock.ts
  package.json
  tools/cz-config.js
  yarn.lock
Due: utilities, testing

feat(Testing): alllow scrollTo to be mocked
  ngx-tools/testing/src/mocks/window.service.mock.ts
Due: testing

chore(Build): upgrade all packages
  ngx-tools/package.json
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/src/jwt-token-managment/actions.ts
  ngx-tools/src/jwt-token-managment/effects.ts
  ngx-tools/src/jwt-token-managment/reducer.ts
  ngx-tools/src/jwt-token-managment/selectors.ts
  ngx-tools/src/jwt-token-managment/utilities/retry-with-escalation.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.ts
  package.json
  tslint.json
  yarn.lock
Due: utilities

Revert "chore(Build): upgrade all packages"
  ngx-tools/package.json
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/src/jwt-token-managment/actions.ts
  ngx-tools/src/jwt-token-managment/effects.ts
  ngx-tools/src/jwt-token-managment/reducer.ts
  ngx-tools/src/jwt-token-managment/selectors.ts
  ngx-tools/src/jwt-token-managment/utilities/retry-with-escalation.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.ts
  package.json
  tslint.json
  yarn.lock
Due: utilities

chore(Build): upgrade all packages
  ngx-tools/package.json
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/src/jwt-token-managment/actions.ts
  ngx-tools/src/jwt-token-managment/effects.ts
  ngx-tools/src/jwt-token-managment/reducer.ts
  ngx-tools/src/jwt-token-managment/selectors.ts
  ngx-tools/src/jwt-token-managment/utilities/retry-with-escalation.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.ts
  package.json
  tools/inject-version.sh
  tslint.json
  yarn.lock
Due: utilities

fix(Utility): correctly inject version number after publish
  package.json
  tools/ci/inject-version-number.sh
Due: none

fix(Utility): fix for incorrect path in version fix
  package.json
Due: none

fix(Utility): correctly update version without updating package.json
  tools/ci/inject-version-number.sh
Due: none

docs(JwtToken): Corrected documentation error
  ngx-tools/src/jwt-token-managment/README.md
Due: utilities

feat(Regex): uRL with optional protocol
  ngx-tools/regex/README.md
  ngx-tools/regex/public-api.ts
  ngx-tools/regex/src/url-optional-protocol/url-optional-protocol.regex.spec.ts
  ngx-tools/regex/src/url-optional-protocol/url-optional-protocol.regex.ts
  ngx-tools/src/README.md
  ngx-tools/src/jwt-token-managment/README.md
Due: regex, utilities

chore: add new code owners
  .github/CODEOWNERS
Due: none

feat(Utility): create a service to control cookies
  ngx-tools/src/README.md
  ngx-tools/src/cookie-service/cookie.service.spec.ts
  ngx-tools/src/cookie-service/cookie.service.ts
  ngx-tools/src/jwt-token-managment/README.md
  ngx-tools/src/public-api.ts
Due: utilities

feat(Utility): create a service to control cookies
  ngx-tools/src/README.md
  ngx-tools/src/cookie-service/cookie.service.spec.ts
  ngx-tools/src/cookie-service/cookie.service.ts
  ngx-tools/src/public-api.ts
Due: utilities
