Repository GetTerminus/ngx-tools: changes, and which Codecov flags are due for each by the changed paths.
All: coercion, keycodes, regex, utilities, testing

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

flags:
  coercion:
    paths:
      - ngx-tools/coercion/
  keycodes:
    paths:
      - ngx-tools/keycodes/
  regex:
    paths:
      - ngx-tools/regex/
  utilities:
    paths:
      - ngx-tools/src/
  testing:
    paths:
      - ngx-tools/testing/

ignore:
  - "coverage"
  - "dist"
  - "demo"
  - "docs"
  - "e2e"
  - "node_modules"
  - "tools"
  - "ngx-tools/**/*.spec.ts"
  - "ngx-tools/!(testing)/*.mock.ts"

style(Utility): add missing end quote
  ngx-tools/src/README.md
Due: utilities

chore: create persistant changelog
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

style(Utility): add missing end quote (#293)
  ngx-tools/src/README.md
Due: utilities

refactor(CI): correctly excluding & including files for tsconfig.spec
  ngx-tools/tsconfig.spec.json
  package.json
Due: none

refactor(Regex): move test values inside describe block
  ngx-tools/regex/src/url/url.regex.spec.ts
Due: none

feat(Regex): expose UUID regex
  ngx-tools/regex/README.md
  ngx-tools/regex/public-api.ts
  ngx-tools/regex/src/uuid/uuid.regex.spec.ts
  ngx-tools/regex/src/uuid/uuid.regex.ts
Due: regex

feat(Utility): expose UUID generator
  ngx-tools/src/README.md
  ngx-tools/src/uuid/uuid.spec.ts
  ngx-tools/src/uuid/uuid.ts
  package.json
  tools/jest-global-mocks.ts
  yarn.lock
Due: utilities

📚 Add 6.10.0 release notes [skip ci]
  CHANGELOG.md
Due: none

feat(Utility): expose UUID regex
  ngx-tools/src/README.md
  ngx-tools/src/uuid/uuid.spec.ts
  ngx-tools/src/uuid/uuid.ts
  package.json
  tools/jest-global-mocks.ts
  yarn.lock
Due: utilities

feat(Utility): expose uuid generator
  ngx-tools/src/README.md
  ngx-tools/src/uuid/uuid.spec.ts
  ngx-tools/src/uuid/uuid.ts
Due: utilities

docs: added missing contributor
  .all-contributorsrc
  README.md
Due: none

chore: update core team contributions
  .all-contributorsrc
  README.md
Due: none

chore: update core team contributions (#298)
  .all-contributorsrc
  README.md
Due: none

feat(Utility): expose UUID generator
  ngx-tools/src/README.md
  ngx-tools/src/public-api.ts
  ngx-tools/src/uuid/uuid.spec.ts
  ngx-tools/src/uuid/uuid.ts
  package.json
  tools/jest-global-mocks.ts
  tslint.spec.json
  yarn.lock
Due: utilities

style: fix lint violations
  ngx-tools/src/jwt-token-managment/effects.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.spec.ts
  ngx-tools/src/retry-with-backoff/retry-with-backoff.spec.ts
  ngx-tools/src/uuid/uuid.spec.ts
  ngx-tools/testing/src/utilities/event-objects.spec.ts
  ngx-tools/testing/src/utilities/event-objects.ts
Due: testing

📚 Add 6.11.0 release notes [skip ci]
  CHANGELOG.md
Due: none

chore(CI): doctoc now only running on needed files
  package.json
Due: none

chore(Packages): update all dependencies
  .circleci/config.yml
  .gitignore
  ngx-tools/package.json
  ngx-tools/src/cookie-service/cookie.service.spec.ts
  ngx-tools/src/jwt-token-managment/effects.spec.ts
  ngx-tools/src/jwt-token-managment/effects.ts
  ngx-tools/src/jwt-token-managment/guards/defaultTokenRequired.spec.ts
  ngx-tools/src/jwt-token-managment/reducer.ts
  ngx-tools/src/jwt-token-managment/selectors.ts
  ngx-tools/src/jwt-token-managment/utilities/retry-with-escalation.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-escalator.spec.ts
  ngx-tools/src/jwt-token-managment/utilities/token-extractor.spec.ts
  ngx-tools/testing/src/mocks/token-escalator.mock.ts
  package.json
  tsconfig.json
  yarn.lock
Due: utilities, testing

chore(Packages): use new docker image
  package.json
Due: none

📚 Add 7.0.0 release notes [skip ci]
  CHANGELOG.md
Due: none

docs: clarify needed versions
  CHANGELOG.md
Due: none

fix(Packages): update inner package.json
  ngx-tools/package.json
Due: none

fix(Packages): update inner package.json dependencies (#311)
  ngx-tools/package.json
Due: none

📚 Add 7.0.1 release notes [skip ci]
  CHANGELOG.md
Due: none

test(Utility): update define type coverage for enums
  ngx-tools/utilities/src/define-type/define-type.spec.ts
  ngx-tools/utilities/src/define-type/define-type.ts
Due: none

chore(Build): update tsconfig paths to solve TS missing deps
  ngx-tools/tsconfig.json
  ngx-tools/tsconfig.spec.json
  tsconfig.json
Due: none

test(Utility): add missing test
  ngx-tools/utilities/src/object-deep-parse/object-deep-parse.spec.ts
Due: none

chore(CI): update allowed commit scopes
  tools/cz-config.js
Due: none
